/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 275px;
    height: 275px;
    background: url("../../content/images/Dima.png") no-repeat center top;
    background-size: contain;

    margin-left: 100px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/Dima.png") no-repeat center top;
        background-size: contain;
    }

}

.gallery_product
{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
h2{

    border-bottom: 1px solid;
    margin-bottom: 30px;
    align: center;
}

.icone {
    display: inline-block;
    width: 200px;
    height: 200px;
}


figure{

    text-align: center;
}
figure:hover  {
    cursor: pointer;
}

.btn-round-xs:hover{
    cursor: pointer;
}
.btn-round-xs{
    margin-right: 20px;
    border-radius: 22.5px;
}
