<style>
    h2{
        color:#0275d8;
        font-weight:normal;
    }


    hr{
        border:none;
        border-top:1px solid #ddd;
        background:none;
        margin:8px 0;
    }

    .hoot{
        font-size: 20px;
    }
    .option{
        background-color:rgba(134, 158, 223, 0.04);
        font-size:15px;
        padding:10px;
        margin:3px;
        font-weight:normal;
    }

    input[type=radio] {
        background-color:#eee;
        border:1px solid #ccc;
        height:14px;
        width:14px;
    }



    .answered {
        background-color:#ccffcc;
        border:1px solid #aaeeaa;
        margin:2px 0;
        padding:12px;
    }

    .not-answered {
        background-color:#ffcccc;
        border:1px solid #eeaaaa;
        margin:2px 0;
        padding:12px;
    }

    .result-question{
        margin:4px;
        padding:6px;
        background-color:rgba(134, 158, 223, 0.07);
        font-size:15px;
        font-weight:normal;
    }



    @media only screen and (max-width: 480px) {
        h1,.h1{
            font-size:22px;
        }
        h2,.h2{
            font-size:20px;
        }
        h3, .h3{
            font-size: 20px;
        }
        .option {
            font-size: 16px;
            padding: 6px;
        }
    }
</style>

<h2 class="text-sm-center">Quiz : {{tquiz?.descrip}} <hr></h2>
<br>
<br>

<div *ngIf="!tresult">


<div *ngFor="let qst of tquestions; let i = index" >
    <span class="hoot">{{i + 1}}. <span [innerHTML]="qst.quest"></span></span> <br>

    <div class="col-md-12">
        <br>
        <form>
            <div class="option">
                <input  type="checkbox"  value="qst.first" (change)="check_answer(qst.id,'first');" />
                {{qst.first}}
            </div>

            <div class="option">
                <input  type="checkbox"  value="qst.second" (change)="check_answer(qst.id,'second');" />
                {{qst.second}}
            </div>

            <div class="option">
                <input  type="checkbox" value="qst.third" (change)="check_answer(qst.id,'third');" />
                {{qst.third}}

            </div>

            <div class="option">
                <input  type="checkbox"  value="qst.fourth" (change)="check_answer(qst.id,'fourth');" />
                {{qst.fourth}}
            </div>
            <br><br>
        </form>
    </div>
</div>


<div *ngIf="true" class="text-sm-center">

    &nbsp;&nbsp; <button class="btn btn-primary"  [routerLink]="['/', { outlets: { popup: 'tquiz-validation'} }]"
                         replaceUrl="true">Soumettre</button>
</div>

</div>
<div *ngIf="tresult">
    <h2 class="text-sm-center">
        Vous avez obtenu {{tresult?.result}}% de bonnes réponses
        <hr/>
        <br>
        <button  type="submit"
                 [routerLink]="['/tresult', tresult.id ]"
                 class="btn btn-info btn-sm">
            <span class="fa fa-eye"></span>
            <span class="hidden-md-down">Détails de vos réponses</span>
        </button>
            </h2>
</div>
