<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTquizLabel">Create or edit a Tquiz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tquiz.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tquiz.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_descrip">Descrip</label>
            <input type="text" class="form-control" name="descrip" id="field_descrip"
                [(ngModel)]="tquiz.descrip"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nbre">Nbre</label>
            <input type="number" class="form-control" name="nbre" id="field_nbre"
                [(ngModel)]="tquiz.nbre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_icone">Icone</label>
            <div>
                <div *ngIf="tquiz.icone" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(tquiz.iconeContentType, tquiz.icone)">open</a><br>
                    <span class="pull-left">{{tquiz.iconeContentType}}, {{byteSize(tquiz.icone)}}</span>
                    <button type="button" (click)="tquiz.icone=null;tquiz.iconeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, tquiz, 'icone', false)"/>
            </div>
            <input type="hidden" class="form-control" name="icone" id="field_icone"
                [(ngModel)]="tquiz.icone"  />
            <input type="hidden" class="form-control" name="iconeContentType" id="field_iconeContentType"
                [(ngModel)]="tquiz.iconeContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
