

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExamenLabel" jhiTranslate="jElearningApp.examen.home.createOrEditLabel">Create or edit a Examen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!examen.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="examen.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jElearningApp.examen.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="examen.date"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jElearningApp.examen.result" for="field_result">Result</label>
            <input type="number" class="form-control" name="result" id="field_result"
                [(ngModel)]="examen.result"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="jElearningApp.examen.examenUser" for="field_examenUser">Examen User</label>
            <select class="form-control" id="field_examenUser" name="examenUser" [(ngModel)]="examen.examenUser" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === examen.examenUser?.id ? examen.examenUser : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jElearningApp.examen.examenCours" for="field_examenCours">Examen Cours</label>
            <select class="form-control" id="field_examenCours" name="examenCours" [(ngModel)]="examen.examenCours" >
                <option [ngValue]="null"></option>
                <option [ngValue]="coursOption.id === examen.examenCours?.id ? examen.examenCours : coursOption" *ngFor="let coursOption of cours; trackBy: trackCoursById">{{coursOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
