<form *ngIf="false" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTreponseLabel">Create or edit a Treponse</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!treponse.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="treponse.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rfirst">Rfirst</label>
            <input type="checkbox" class="form-control" name="rfirst" id="field_rfirst"
                [(ngModel)]="treponse.rfirst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rsecond">Rsecond</label>
            <input type="checkbox" class="form-control" name="rsecond" id="field_rsecond"
                [(ngModel)]="treponse.rsecond"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rthird">Rthird</label>
            <input type="checkbox" class="form-control" name="rthird" id="field_rthird"
                [(ngModel)]="treponse.rthird"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rfourth">Rfourth</label>
            <input type="checkbox" class="form-control" name="rfourth" id="field_rfourth"
                [(ngModel)]="treponse.rfourth"  />
        </div>

        <div class="form-group">
            <label for="field_reponseQuestion">Reponse Question</label>
            <select class="form-control" id="field_reponseQuestion" name="reponseQuestion" [(ngModel)]="treponse.reponseQuestionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tquestionOption.id" *ngFor="let tquestionOption of tquestions; trackBy: trackTquestionById">{{tquestionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_reponseResult">Reponse Result</label>
            <select class="form-control" id="field_reponseResult" name="reponseResult" [(ngModel)]="treponse.reponseResultId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tresultOption.id" *ngFor="let tresultOption of tresults; trackBy: trackTresultById">{{tresultOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
